---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.site-logo-img {
    width: 150px;
    height: 75px;
}

body {
  font-family: Helvetica;
  font-weight: 400;
}

.site-nav a {
    font-size: 18px!important;
}

.slider-content {
    margin: 10px;
    font-size: 2rem!important;
}

h3 {
    font-weight: bold!important;
}